body{
    font-family: rubik;
}
#connect{
    position: absolute;
}
.general{
    position: relative;
    display: inline-block;
    text-align: center;
    transform: translate(-50%);
    left: 50%;
    top: 100px;
}

.buttons{
    display: inline-block;
}


.writes{
    display: inline-block;
}

.textareas{
    width: 600px;
    height: 270px;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    resize: none;
}

#write_idea{
    
}
#write_send{
   
}




#comments_write{
    position: sticky;
    width: 85%;
}

#comments_send{
    position: sticky;
    width: 10%;
}













	




	